---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content="#000000" />
        <meta property="og:title" content="Scally Electrical" />
        <meta
            property="og:image"
            content="https://scallyelectrical.co.nz/scally_electrical_og.png"
        />
        <meta
            name="description"
            content="At Scally Electrical, we proudly serve the Canterbury region for all your electrical service needs"
        />
        <title>Home | Scally Electrical | Canterbury New Zealand</title>
        <script>
            import { configure } from 'onedollarstats';

            if (typeof window !== 'undefined') {
                configure({
                    trackLocalhostAs: 'scallyelectrical.co.nz'
                });
            }
        </script>
    </head>
    <body>
        <slot />
    </body>
</html>
