label {
  font-size: 1rem;
  color: #fff;
}
input,
textarea {
  width: 100%;
  height: 40px;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 5px;
}
textarea {
  height: 80px;
}
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #F2994A;
}
p {
  padding-bottom: 10px;
}